@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1> ER Manufacturing </h1>
    <p class="lead">Welcome to ER Manufacturing's Website.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Website Status</h2>
        <p>
            Currently, this Website provides the ability to track Client Orders.  In the future, our clients will be able to
            not only track their orders, but place them, as well.  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>If you have any questions regarding the direction and future of this site, please direct them to our Development Team.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Would you like to contribute?</h2>
        <p>If you have an idea, please let our Development Team know.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>